<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <div id="app">
    <!-- {{}}或v-text用文字顯示資料 = .innerText = .text() -->
    <h1>標題:{{title}}</h1>
    <h1 v-text="title">123456</h1><!--v-text是指令，會覆蓋標籤內的東西-->
    <div>{{img}}</div>
    <div v-text="img"></div>
    <div v-html="img"></div>
    <!-- 判斷式，不符合不會在DOM -->
    <div v-if="num>10">大於10</div>
    <div v-else-if="num===10">等於10</div>
    <div v-else="num<10">小於10</div>
    <!-- 判斷式，不符合者display:none -->
    <div v-show="num>10">大於10</div>
    <div v-show="num===10">等於10</div>
    <div v-show="num<10">小於10</div>
    <hr> <!-- 迴圈 v-for v-for="值 in 陣列" v-for="(值,索引) in 陣列" -->
    <ul>
      <li v-for="value in pokemons">{{value}}</li>
    </ul>
    <ul>
      <li v-for="(value,i) in pokemons">索引是{{i}}時是{{value}}</li>
    </ul>
    <!-- v-for和v-if不能投使用在一個標籤上 -->
    <!-- 必須使用template標籤輔助 -->
    <!-- template只能用v-if和v-for -->
    <ul>
      <template v-for="value in pokemons">
        <li v-if="value==='火球鼠'">{{value}}</li>
      </template>
    </ul>
    <template v-for="(value,i) in pokemons">
      <p>{{i}}</p>
      <p>{{value}}</p>
    </template>
  </div>
  <script>
    Vue.createApp({
      data() {
        return {
          title: '特別的愛給特別的波加曼',
          img: '<img src="https://tw.portal-pokemon.com/play/resources/pokedex/img/pm/f3868a6a16c75d75435819deab8bab97926fc54c.png" width="200px" / >',
          num: 10,
          pokemons: [
            '火球鼠',
            '菊草葉',
            '小鋸鱷',
          ]
        }
      }
    }).mount('#app');
  </script>
</body>

</html>